@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.addWarehouse {
  &__header {
    padding-bottom: 1.46rem;
    padding-top: 2rem;
    border-bottom: 0.0625rem solid $cloud;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &-container {
      display: flex;
      align-items: center;
    }
    .arrow-back-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
    a {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &__title {
    padding-left: 0.5rem;
  }

  &__button {
    margin-right: 1.44rem;
  }
}

.forms {
  &__container {
    align-content: center;

    @include tablet {
      display: flex;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include desktop {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
    .forms__bottom {
      border-bottom: 0.0625rem solid $cloud;

      @include tablet {
        border-bottom: none;
      }
    }
  }
}
