@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.contact__form {
  padding-bottom: 1.5rem;

  @include tablet {
    width: 100%;
    padding-top: 1.5rem;
    padding-right: 0;
  }
  @include desktop {
    width: 100%;
    padding-right: 2.5rem;
  }

  h2 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    @include tablet {
      padding-top: 0;
    }
  }
  h3 {
    padding-top: 1rem;
    padding-bottom: 0.25rem;
  }

  &-input {
    width: 100%;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: 1px solid $cloud;
    background-color: $white;
    font-size: 0.8125rem;
    font-family: 'Titillium Web' ;
    padding-left: 1rem;
    box-sizing: border-box;
    outline: none;
    &:focus {
      border: 0.0625rem solid $instock-indigo;
    }

    &::after {
      content: "This field is required"
    }

    @include tablet {
      width: 100%;
      height: 2.375rem;
    }
    @include desktop {
      width: 100%;
      height: 2.375rem;
    }
  }
  &-wrapper {
    @include tablet {
      padding-left: 2rem;
    }
  }
}
