@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

$dialog-padding--vertical: 2.5rem;

dialog {
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  border: none;
  padding: 3.75rem $padding-med;
  border-radius: 0.1875rem;
  justify-self: center;

  @include tablet {
    top: $header-height--tablet;
    height: 16.375rem;
    max-width: 42rem;
    justify-self: center;
    padding: 2.5rem 4rem;
    box-sizing: border-box;
  }

  &::backdrop {
    background: white;
    @include tablet {
      background: rgb(19, 24, 44, 0.7); // instock-black
    }
  }
}

.modal {
  &__form {
    @include zero-spacing;
    width: 100%;

    p {
      @include p1;
    }
  }

  &__body {
    margin-bottom: $padding-med;
    @include p2;
  }

  &__buttons {
    width: 21.4375rem;
    display: flex;
    justify-content: flex-end;
    bottom: $padding-large;
    gap: $padding-med;
    position: fixed;

    @include tablet {
      position: absolute;
      bottom: $dialog-padding--vertical;
      right: 4rem;
    }
  }
  .button-cancel {
    margin-right: 0;
    padding: 0;
    @include tablet {
      padding: 0.5rem 1rem;
    }
  }
}
