@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/globals" as *;

main {
    background-color: $white;
    margin-left: $padding-med;
    margin-right: $padding-med;
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
    border-radius: 0.1875rem;
    margin-bottom: 6rem;
    position: relative;
    z-index: 1000;
    transform: translateY(-0.4%);

    @include tablet{
      margin-left:2rem;
      margin-right: 2rem;
    }

    @include desktop{
      margin-left:8.12rem;
      margin-right: 8.12rem;

    }
  }