@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/globals" as *;

$top-overlap--mobile: 3.5rem;
$top-overlap--tablet: 5.75rem;

@mixin header-overlap {

}

main {
    background-color: $white;
    margin-left: $padding-med;
    margin-right: $padding-med;
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
    border-radius: 0.1875rem;
    margin-bottom: 6rem;
    position: relative;
    z-index: 2;
    top: calc($top-overlap--mobile * -1);

    @include tablet{
      margin-left:2rem;
      margin-right: 2rem;
      top: calc($top-overlap--tablet * -1);
    }

    @include desktop{
      margin-left:8.12rem;
      margin-right: 8.12rem;

    }
  }

.table-text {
  @include p2;
}

.page-top {
  @include zero-spacing;
  @include flex-mixin--row(100%);
  @include card-padding;
  box-sizing: border-box;
  align-items: center;
  height: $top-overlap--tablet; 

  &__divider {
    border-bottom: $divider;
  }
}

.form__actions{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $light-grey;
  height:4.25rem;
  @include tablet{
      justify-content: flex-end;
  }
  @include desktop{
      justify-content: flex-end;
  }
}