@use "../../../styles/partials/globals" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.item-quantity{
    padding-top: .25rem;;
    padding-bottom: 1rem;

    .item-input--quantity{
        height: 2.25rem;
        width: 100%;
        border: .0625rem solid $cloud;
        border-radius: 1.25rem;
        color: $slate; 
        width: 100% ;
        
        @include tablet{
            height: 2.375rem;
            width: auto;
        }
        @include desktop{
            height: 2.375rem;
            width: auto;
        };
    }
    input.item-input--quantity::placeholder{
        color: $instock-black;
        padding-left: 0.5rem;
        @include p2;
        }
    input.item-input--quantity:active{
        color: $instock-indigo;
    }
    .error{
        color:$red;
    }
}