@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  @include desktop {
    top: 1.5rem;
    right: 1.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}
