@use "../../../styles/partials/globals" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.item-input textarea {
   font-family: 'Titillium Web';
    @include input-select-placeholders;
    @include p2;
    padding-top: 0.5rem;

}
.item-input--description{
    border: .0625rem solid $cloud;
    border-radius: 1.25rem;
    height: 7.5rem;
    width: 100%;
    @include p2;

    @include tablet{
        width: 100%;
    }
    @include desktop{
        width: 100%;
    }
    &::placeholder{
        @include input-select-placeholders;
        @include p2;
        padding-top: 0.5rem;
    }
    &:active{
        color: $instock-indigo;
    }
    .error{
        color:$red;
    }
}
