@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.inventory {

  &__card {
    @include flex-mixin--column(auto);
    @include card-padding;
    gap: 1rem;
    border-top: $divider;

    @include tablet {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__details {
    @include flex-mixin--row(auto);
    justify-content: flex-start;

    @include tablet {
      width: 100%;
    }
  }

  &__left, &__right {
    @include flex-mixin--column(100%);

    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__heading {
    @include table-heading;
    margin-top: 1.25rem;
    
    &:first-of-type {
      margin-top: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__item-name {
    @include row-name;
  }

  &__status {
    @extend h4;
    border-radius: $status-radius;
    text-transform: uppercase;
    width: fit-content;
    padding: .25rem .5rem;

    &--green {
      @extend .inventory__status;
      background-color: $green-background;
      color: $green;
    }

    &--red {
      @extend .inventory__status;
      background-color: $red-background;
      color: $red;
    }
  }

  &__icons {
    @include flex-mixin--row(auto);

    &__icon {

    }
  }
  
}