@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

$icons-width: 5rem;
$card-width--tablet: calc(100% - 2 * $card-side-padding--tablet);
$details-width: calc(100% - $icons-width);
$details-width--left: calc($details-width * 2 / 5);
$details-width--right: calc($details-width - $details-width--left);

$column-gap: calc($card-side-padding--tablet * 2);
$column-width--index: calc((70% - $card-side-padding--tablet));
$column-width--category: calc((30% - $card-side-padding--tablet));
$column-width--third: calc((33% - $card-side-padding--tablet));
$column-width--status: calc((48% - $card-side-padding--tablet));
$column-width--qty: calc((19% - $card-side-padding--tablet));

.inventory {
  &__card {
    @include flex-mixin--column(auto);
    @include card-padding;
    gap: 1rem;
    border-top: $divider;

    @include tablet {
      flex-direction: row;
      width: $card-width--tablet;
      justify-content: space-between;
    }
  }

  &__header-row {
    display: none;
    @include tablet {
      display: flex;
      background-color: $light-grey;
    }
  }

  &__details {
    @include flex-mixin--row(auto);
    justify-content: flex-start;
    align-items: flex-start;

    @include tablet {
      width: $details-width;
      justify-content: space-between;
    }
  }

  &__left {
    @include flex-mixin--column(100%);

    @include tablet {
      width: $details-width--left;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    & .inventory__heading--table, & .inventory__text-container {
      @include tablet {
        width: $column-width--category;
      }
      &:first-child {
        @include tablet {
          width: $column-width--index;
        }
      }
    }
  }

  &__right {
    @include flex-mixin--column(100%);
    @include tablet {
      width: $details-width--right;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__heading {
    @include table-heading;
    margin-top: 1.25rem;
    
    &:first-of-type {
      margin-top: none;
    }

    &--table {
      display: none;
      @include tablet {
        display: flex;
        color: $slate;
        &:after {
          content: url('../../assets/icons/sort-24px.svg');
        }
      }
    }

    @include tablet {
      display: none;
    }
  }

  &__item-name {
    @include row-name;
    width: $column-width--index;
  }

  &__text-container {
    align-items: flex-start;

    &--qty {
      @include tablet {
        width: $column-width--qty;
      }
    }

    &--status {
      @include tablet {
        width: $column-width--status;
      }
    }
  }

  &__status {
    @extend h4;
    border-radius: $status-radius;
    text-transform: uppercase;
    width: fit-content;
    padding: .25rem .5rem;

    &--green {
      @extend .inventory__status;
      background-color: $green-background;
      color: $green;
    }

    &--red {
      @extend .inventory__status;
      background-color: $red-background;
      color: $red;
    }
  }

  &__icons {
    @include flex-mixin--row(auto);
    gap: 1.1875rem;
    align-items: space-between;
    @include tablet {
      align-items: flex-start;
    }
  } 
}
