@use "../../styles/partials/globals" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.item-availability{
    border-top: .0625rem solid $cloud;
    @include tablet{
      padding-left: 2rem;  
    }
    
    h2{
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    .item-status{
        display: flex;
        justify-content: flex-start;
        gap:4rem;
        @include tablet{
            gap:4rem;
        }
        @include desktop{
            gap:4rem;
        }
        & .item-status__check{
            display: flex;
            gap: .25rem;
        }
    }
}
