@use "./variables" as *;
@use "./globals" as *;

@mixin mobile {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin flex-mixin($element-width) {
  display: flex;
  position: relative;
  width: $element-width;
}
@mixin flex-mixin--row($element-width) {
  @include flex-mixin($element-width);
  align-items: center;
  justify-content: space-between;
}

@mixin flex-mixin--column($element-width) {
  @include flex-mixin($element-width);
  flex-direction: column;
  justify-content: center;
}

@mixin zero-spacing {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

@mixin table-heading {
  @extend h4;
  text-transform: uppercase;
  color: $slate;
}

@mixin row-name {
  @extend h3;
  color: $instock-indigo;
}

@mixin card-padding {
  padding: 1rem 1.5rem;

  @include tablet {
    padding: 1.125rem $card-side-padding--tablet;
  }
}
