@use "./variables" as *;
@use "./globals" as *;

@mixin mobile {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin flex-mixin($element-width) {
  display: flex;
  position: relative;
  width: $element-width;
}

@mixin flex-mixin--row($element-width) {
  @include flex-mixin($element-width);
  align-items: center;
  justify-content: space-between;
}

@mixin flex-mixin--column($element-width) {
  @include flex-mixin($element-width);
  flex-direction: column;
  justify-content: center;
}

@mixin zero-spacing {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

@mixin table-heading {
  @extend h4;
  text-transform: uppercase;
  color: $slate;
}

@mixin row-name {
  @extend h3;
  color: $instock-indigo;
}

@mixin card-padding {
  padding: $padding-med $padding-large;

  @include tablet {
    padding: 1.125rem $main-side-padding--tablet;
  }
}

@mixin p1{
  font-size: 0.9375rem;
  line-height: 1.625rem;
  font-weight: 400;
  @include tablet{
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}

@mixin p2{
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
  @include tablet{
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

@mixin p3{
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 400;
  @include tablet{
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
}

@mixin form-fields{
    height: 2.25rem;
    width: 100%;
    border: .0625rem solid $cloud;
    border-radius: 1.25rem;
    
    @include tablet{
        height: 2.375rem;
        // width:17.9375rem;
    }
    @include desktop{
        height: 2.375rem;
        // width:17.9375rem;
    }
}
@mixin form-field-spacing{
    // padding-top: 0.25rem;
    // padding-bottom: 0.5rem;
}

@mixin input-select-placeholders{
  // /use p2
    color: $slate; 
    padding-left: 0.5rem;
    
}

@mixin align-left-top {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

@mixin card-mixin {
  @include flex-mixin--column(auto);
  @include card-padding;
  gap: $padding-med;
  border-top: $divider;

  @include tablet {
    flex-direction: row;
    width: $card-width--tablet;
    justify-content: space-between;
    padding-top: .6875rem;
    padding-bottom: .6875rem;
    
    &:first-of-type {
      border-top: none;
    }
  }
}

@mixin header-row {
  display: none;
  @include tablet {
    display: flex;
    background-color: $light-grey;
    height: 100%;
    border: none;
  }
}