@font-face {
    font-family: 'Titillium Web';
    src: url('./fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: 400; /* regular */
  }
  
  @font-face {
    font-family: 'Titillium Web';
    src: url('./fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf') format('truetype');
    font-weight: 600; /* semi-bold */
  }
  