//Primary Colors
$instock-black: #13182C;
$instock-indigo: #2E66E5;
$white: #FFFFFF;

//Secondary Colors
$slate: #5C667E;
$cloud: #BDC5D5;

//Background Colors
$graphite: #232940;
$light-grey:#F7F8F9;

// Supporting Colors 
$green: #158463;
$red: #C94515;

//Mobile Text Styles 
$page-header-font-size: 1.75rem;
$page-header-line-height: 2.25rem;
// $page-header-font-weight: 600;

$subheader-font-size: 1.25rem;
$subheader-line-height: 1.75rem;
// $subheader-font-weight: 600;

$labels-buttons-font-size: .8125rem;
$labels-buttons-line-height: 1.25rem;
// $labels-buttons-font-weight: 600;

$table-header-font-size: .6875rem;
$table-header-line-height: 1rem;
// $body-text-font-weight: 600;
// color grey 

$body-large-font-size: .9375rem;
$body-large-line-height: 1.625rem;
// $body-large-font-weight: 400;

$body-med-font-size: .8125rem;
$body-med-line-height: 1.25rem;
// $body-med-font-weight: 400;

$body-small-font-size: .6875rem;
$body-small-line-height: 1rem;
// $body-small-font-weight: 400;


// desktop & tablet text styles 
// $dt-page-header:
$dt-page-header-font-size: 2rem;
$dt-page-header-line-height: 2.5rem;
// $dt-page-header-font-weight: 600; 

// $subheader:
$dt-subheader-font-size: 1.5rem;
$dt-subheader-line-height: 2rem;
// font-weight: 600; 

// $labels-buttons:
$dt-labels-buttons-font-size: .875rem;
$dt-labels-buttons-line-height: 1.375rem;
// font-weight: 600; 

// $table-header:
$dt-table-header-font-size: .75rem;
$dt-table-header-line-height: 1.125rem;
// font-weight: 600; 
// color grey

// $body-text:
$dt-body-large-font-size: 1rem;
$dt-body-large-line-height: 1.75rem;
// font-weight: 400; 

$dt-body-med-font-size: .875rem;
$dt-body-med-line-height: 1.375rem;
// font-weight: 400; 

$dt-body-small-font-size: .75rem;
$dt-body-small-line-height: 1.125rem;
// font-weight: 400; 
