@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.item-details{
    @include tablet{
        padding-left: 1.5rem;
        padding-right: 2rem;
        border-right: .0625rem solid $cloud;
        width: 100%;
    }
    @include desktop{
        padding-left: 1.5rem;
        padding-right: 2rem;
        border-right: .0625rem solid $cloud;
        width:100%;
    }
   
    h2{
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        @include tablet{
            padding-top: 0rem;
        }
        @include desktop{
            padding-top: 0rem;
        }
    }
}