@use "../../../styles/partials/globals" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.button-cancel {
  width: 100%;
  height: 2.25rem;
  padding: 0.5rem 2.4375rem 0.5rem 2.4375rem;
  gap: 0.625rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid $cloud;
  position: relative;
  background-color: $white;
  color: $slate;
  margin-right: 1rem;

  @include desktop {
    justify-content: center;
    height: 2.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
  }
  @include tablet {
    justify-content: center;
    height: 2.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
  }
  &:hover {
    border: 0.0625rem solid $instock-indigo;
    color: $instock-indigo;
  }
}
