@use "../../../styles/partials/globals" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.button {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  background-color: $light-grey;
  height: 4.25rem;

  @include tablet {
    justify-content: flex-end;
    height: 4.375rem;
  }
  @include desktop {
    justify-content: flex-end;
    height: 4.375rem;
  }
}
.button-add {
  width: 100%;
  height: 2.25rem;
  white-space: nowrap;
  gap: 0.625rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid $instock-indigo;
  background-color: $instock-indigo;
  color: $white;
  font-family: 'Titillium';
  font-size: 0.8125rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

  @include desktop {
    justify-content: center;
    height: 2.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
  }
  @include tablet {
    justify-content: center;
    height: 2.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
  }
}
