@use "../../../styles/partials/globals" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.item-select{
    width: 100%;
    padding-bottom: 1rem;
    display: flex;

    @include tablet{
        width:100%;
        padding-bottom: 0rem;
    }
    @include desktop{
        width:100%;
        padding-bottom:0rem;

    }
    
    .item-select--category{
        height: 2.25rem;
        width: 100%;
        border: .0625rem solid $cloud;
        border-radius: 1.25rem;
        @include input-select-placeholders;
        @include p2;
        @include tablet{
            height: 2.375rem;
            width:100%;
        }
        @include desktop{
            height: 2.375rem;
            width:100%;
        }    
        &:active{
            color: $instock-indigo;
        }
        .error{
            color:$red;
        }
    
        &::-webkit-select-arrow {
        right: 1rem;
        }
       @include tablet{
            width: 100%;
        }
        @include desktop{
            width: 100%;
        }
    }
     .item-select--warehouse{
        @include p2;
        height:2.25rem;
        width: 100%;
        border: .0625rem solid $cloud;
        border-radius: 1.25rem;
        @include input-select-placeholders;
        @include p2;
        @include tablet{
            width: 100%;
            height: 2.375rem;
        }
        @include desktop{
            width: 100%;
            height: 2.375rem;;
        }
        &:active{
            color: $instock-indigo;
        }
        .error{
            color:$red;
        }
    
    & select {
        appearance: none; /* Remove default dropdown arrow */
        -webkit-appearance: none; /* Remove default dropdown arrow for Chrome */
        -moz-appearance: none; 
    }
    & .custom-select-arrow img {
        position: absolute;
        top: 50%;
        padding-right: 1rem;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }
}   
