@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../components/InventoryCard/InventoryCard.scss' as *;

$column-gap: 1rem;
$column-width: 50%;
$left-width: 40%;
$right-width: calc(100% - $left-width);

.warehouse-card {
  @include card-mixin;
  
  &__details {
    @extend .inventory__details;
    gap: $column-gap;
    justify-content: flex-start;
  }

  &__left, &__right {
    @include flex-mixin--column(100%);
    @include tablet {
      gap: $column-gap;
      width: $left-width;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__right {
    @extend .warehouse-card__left;
    @include tablet {
      width: $right-width;
    }
  }

  &__heading {
    @extend .inventory__heading;

    &--table {
      @extend .inventory__heading--table;
    }
    
    &--no-scroll {
      @extend .inventory__heading--no-scroll;
    }
  }

  &__text-container {
    align-items: flex-start;
    @include tablet {
      width: $column-width;
    }
  }

  &__index {
    @extend .inventory__item-name;
  }

  &__contact-info {
    width: 70%;
  }
}

.warehouse__header-row {
  @include header-row;
}