@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../components/InventoryCard/InventoryCard.scss' as *;

$column-gap: 1rem;
$column-width: 50%;

.warehouse__header-row {
  @extend .inventory__header-row;
}

.warehouse-card {
  @extend .inventory__card;
  
  &__details {
    @extend .inventory__details;
    gap: $column-gap;
  }

  &__left, &__right {
    @include flex-mixin--column(100%);
    @include tablet {
      gap: $column-gap;
      width: 50%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

  }

  &__right {
  }

  &__heading {
    @extend .inventory__heading;

    &--table {
      @extend .inventory__heading--table;
    }
    
    &--no-scroll {
      @extend .inventory__heading--no-scroll;
    }
  }

  &__text-container {
    @extend .inventory__text-container;
    @include tablet {
      width: $column-width;
    }
  }

  &__index {
    @extend .inventory__item-name;
  }

}