@use "../../styles/partials/globals" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.add-item-header{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    line-height: 100%;
    position: relative;
    width: 100%;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    align-items: center;
    height: 5.75rem;
    border-bottom: 0.0625rem solid #BDC5D5;
    .arrow-back-icon{
        font-size: 1.5rem;
        margin-right: 0.625rem;
        }    
    }
.add-item-form {
    margin-left:0rem;
    margin-right:0rem;
    
    .form {
    display: flex;
    flex-direction: column;
    .form__divider{
        display: flex;
        flex-direction: column;
        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top:1.5rem;
            padding-bottom:1rem;
        }
        @include desktop{
            display: flex;
            flex-direction: row;
            padding-top:1.5rem;
        }
    }
        .item-details{
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            @include tablet{
                border-right: .0625rem solid $cloud;
            }
           
            h2{
                padding-bottom: 1.5rem;
                padding-top: 1.5rem;
                @include tablet{
                    padding-top: 0rem;
                }
                @include desktop{
                    padding-top: 0rem;
                }
            }
            .item-detail{
            display: flex;
            flex-direction: column;
            @include form-field-spacing;
                .item-input{
                    @include form-field-spacing;
                }
                .item-input--name{
                    @include form-fields;
                    &.item-input--name-placeholder{
                        @include p2;
                        @include input-select-placeholders;
                    }
                }
                .item-input--description{
                    border: .0625rem solid $cloud;
                    border-radius: 1.25rem;
                    height: 7.5rem;
                    width: 100%;
                    
                    @include tablet{
                        width: 17.9375rem;
                    }
                    @include desktop{
                        width: 17.9375rem;
                    }
                    &.item-input--description-placeholder{
                        font-family: 'Titillium Web', sans-serif;
                        @include input-select-placeholders;
                        @include p2;
                    }
                }
                .item-select{
                    @include form-field-spacing;
                .item-select--category{
                    @include form-fields;
                    @include input-select-placeholders;
                   
                    &::-webkit-select-arrow {
                    right: 1rem;
                    }
                }
               
                border-bottom: .0625rem solid $cloud;
                @include tablet{
                    border-bottom: none;
                }
                @include desktop{
                    border-bottom: none;
                }
                }
            }
        }
        .item-availability{
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            h2{
                padding-bottom: 1.5rem;
                padding-top: 1.5rem;
                @include tablet{
                    padding-top: 0rem;
                }
                @include desktop{
                    padding-top: 0rem;
                }
            }
            .item-availability-status{
                @include form-field-spacing;
                .item-status{
                    display: flex;
                    justify-content: flex-start;
                    gap:4rem;
                    @include tablet{
                        gap:4rem;
                    }
                    @include desktop{
                        gap:4rem;
                    }
                    & .item-status__check{
                        display: flex;
                        gap: .25rem;
                    }
                }
            }
            .item-quantity{
                @include form-field-spacing;
                .item-input{
                @include form-field-spacing;
                }
                .item-input--quantity{
                    @include form-fields;
                    @include input-select-placeholders;
                }
            }
            .item-warehouse{
                @include form-field-spacing; 
            .item-select{
                @include form-field-spacing;
                @include tablet{
                    padding-bottom: 0rem;
                }
                @include desktop{
                    padding-bottom: 0rem;
                }
                }
                .item-select--warehouses{
                    @include form-fields;
                    @include input-select-placeholders;
                } 
            }   
        }
    
    .button{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: $light-grey;
        height:4.25rem;
        @include tablet{
            justify-content: flex-end;
        }
        @include desktop{
            justify-content: flex-end;
        }
    }
}
}